<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать команду</title>
</head>
<body>
    <h1>Создание команды</h1>
    <form method="post">
        <label>Команда: <input type="text" name="title"></label><br>

        <h3>Назначить менеджера:</h3>
        <select name="manager_id">
            <option value="">— Нет —</option>
            {% for user in users %}
                {% if user.role == "manager" %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <h3>Назначить участников:</h3>
        {% for user in users %}
        <label>
            <input type="checkbox" name="user_ids" value="{{ user.id }}">
            {{ user.name }}
        </label><br>
        {% endfor %}

        <button type="submit">Создать</button>
    </form>
</body>
</html>