<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
    <h1>Список задач</h1>
    {% if current_user.role != "user" %}
        <a href="/tasks/create">Создать задачу</a><br>
    {% endif %}
    <table border="1" cellpadding="5">
        <tr>
            <th>Задача</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Дедлайн</th>
            <th>Назначенные</th>
            <th>Комментарии</th>
            <th>Действия</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.deadline|moscowtime }}</td>
            <td>
                {% for user in task.users %}
                    {{ user.name }}
                {% else %}
                    <i>Нет назначенных</i>
                {% endfor %}
            </td>
            <td>
            {% for comment in task.comments %}
                <ul>
                    <li>
                        <b>{{ comment.user.name }}</b>: {{ comment.content }}
                    </li>
                </ul>
            {% else %}
                <i>Нет комментариев</i>
            {% endfor %}
            </td>
            <td>
                <a href="/tasks/edit/{{ task.id }}">Редактировать</a>
                <a href="/tasks/delete/{{ task.id }}">Удалить</a>
                <a href="/tasks/comment/{{ task.id }}">Комментировать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">На главную</a>
</body>
</html>
