<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Management System</title>
</head>
<body>
    <ul>
        <li><a href="/tasks">Задачи</a></li>
        <li><a href="/meetings">Встречи</a></li>
        <li><a href="/evaluations">Оценки</a></li>
        <li><a href="/teams">Команды</a></li>
        <li><a href="/calendar/month/{{ today.year }}/{{ today.month }}">Календарь</a></li>
        <li></li>
        <li><a href="/auth/login">Войти</a></li>
        <li>
            <a href="/auth/logout">
                <button type="button">Выйти</button>
            </a>
        </li>
    </ul>
</body>
</html>