<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/tasks">Задачи</a></li>
            <li><a href="/meetings">Встречи</a></li>
            <li><a href="/evaluations">Оценки</a></li>
            <li><a href="/teams">Команды</a></li>
            <li><a href="/calendar/month/{{ today.year }}/{{ today.month }}">Календарь</a></li>
        </ul>

        <ul class="auth">
            <li><a href="/auth/login">Войти</a></li>
            <li>
                <a href="/auth/logout">
                    <button type="button">Выйти</button>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <h1>Добро пожаловать в систему управления бизнесом</h1>
    </main>
</body>
</html>